executor="sge"
queue=""
sge_pe="smp"
commands {
    mincbeast {
        memory="1.75G"
        walltime="24:00:00"
        procs="5"
    }
    antsRegistration {
        memory="1.75G"
        walltime="3:00:00"
        //procs="2" //Increase this number to give more memory
    }
    itk_resample {
        memory="1.75G"
        walltime="00:30:00"
    }
}
